{{ if .Values.model.ngcAPIKey }}
---
apiVersion: v1
kind: Secret
metadata:
  name: nvcrimagepullsecret
  labels:
    {{- include "nim-llm.labels" . | nindent 4 }}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ template "nim-llm.generatedImagePullSecret" . }}
---
apiVersion: v1
kind: Secret
metadata:
  name: ngc-api
  labels:
    {{- include "nim-llm.labels" . | nindent 4 }}
type: Opaque
data:
  NGC_CLI_API_KEY: {{ .Values.model.ngcAPIKey | b64enc }}
---
{{ end }}
