# ------------------------------------------------------------
# The following values are for the AIQ AIRA backend service.
# ------------------------------------------------------------

replicaCount: 1

imagePullSecret:
  name: "ngc-secret"
  registry: "nvcr.io"
  username: "$oauthtoken"
  password: ""
  create: true

ngcApiSecret:
  name: "ngc-api"
  password: ""
  create: true

tavilyApiSecret:
  name: "tavily-secret"
  create: true
  password: ""

# The image repository and tag for the AIQ AIRA backend service.
image:
  baserepo: nvcr.io
  repository: nvcr.io/nvidia/blueprint/aira-backend
  tag: v1.2.0
  pullPolicy: Always

# The service type and port for the main AIQ AIRA backend service
service:
  port: 3838

backendEnvVars:
  INSTRUCT_MODEL_NAME: "meta/llama-3.1-8b-instruct" # Change to meta-llama/llama-3.3-70b-instruct for a larger model
  INSTRUCT_MODEL_TEMP: "0.0"
  NEMOTRON_MAX_TOKENS: "5000"
  INSTRUCT_MAX_TOKENS: "20000"
  INSTRUCT_BASE_URL: "http://instruct-llm:8000"
  INSTRUCT_API_KEY: "not-needed"
  NEMOTRON_MODEL_NAME: "nvidia/llama-3.3-nemotron-super-49b-v1.5"
  NEMOTRON_MODEL_TEMP: "0.5"
  NEMOTRON_BASE_URL: "http://nim-llm.rag.svc.cluster.local:8000"
  AIRA_APPLY_GUARDRAIL: "false"
  RAG_SERVER_URL: "http://rag-server.rag.svc.cluster.local:8081"
  RAG_INGEST_URL: "http://ingestor-server.rag.svc.cluster.local:8082"

frontendEnvVars:
  HOSTNAME: "0.0.0.0"
  
nim-llm:
  enabled: true
  service:
    name: "instruct-llm"
  image:
      repository: nvcr.io/nim/meta/llama-3.1-8b-instruct # Change to nvcr.io/nim/meta/llama-3.3-70b-instruct for a larger model
      pullPolicy: IfNotPresent
      tag: "1.8.4" # Change to 1.13.1 for llama-3.3-70b-instruct
  resources:
    limits:
      nvidia.com/gpu: 1 # Change according to model and GPU type
    requests:
      nvidia.com/gpu: 1 # Change according to model and GPU type
  model:
    ngcAPIKey: ""
    name: "meta/llama-3.1-8b-instruct" # Change to meta-llama/llama-3.3-70b-instruct for a larger model
  # Pin to Secondary Node (EKS static node group)
  nodeSelector:
    kubernetes.io/hostname: $SECONDARY_GPU_NODE

# -----------------------------------------------------------
# The following values are for the AIQ AIRA frontend service.
# ------------------------------------------------------------

# The frontend application is a React web app. We recommend a NodePort so the frontend will be accessible at <your-node-ip>:3001
frontend:
  enabled: true
  service:
    type: NodePort
    port: 3000
    targetPort: 3000
    nodePort: 30080
  image:
    repository: nvcr.io/nvidia/blueprint/aira-frontend
    tag: v1.2.0
    pullPolicy: Always
  replicaCount: 1

# ------------------------------------------------------------
# The following values are optional utility services
# ------------------------------------------------------------

# Enables the Phoenix tracing service
phoenix:
  enabled: true
  image:
    repository: arizephoenix/phoenix
    tag: latest
    pullPolicy: IfNotPresent
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 200m
      memory: 256Mi

